h1 {
    color: blueviolet;
  }
  
  body {
    background-color: gainsboro;
    margin: 0;
  }
  
  *,
  *::before,
  *::after {
    font-family: Scope One, Arial, Helvetica, sans-serif;
  }
  