h1 {
    color: blueviolet;
  }
  
  body {
    background-color: gainsboro;
    margin: 0;
  }
  
  *,
  *::before,
  *::after {
    font-family: Scope One, Arial, Helvetica, sans-serif;
  }
  .video-container{
display: flex;
flex-direction: column;
  }

  .thumbnail{
    position: relative;
    display: flex;
  }
  .thumbnail::before{
    content: attr(data-duration);
  }